<suite name="ParallelSuite" parallel="instances" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <configuration>
        <systemPropertyVariables>
            <allure.results.directory>allure-results</allure.results.directory>
        </systemPropertyVariables>
    </configuration>
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.shoppingTests"/>
        </classes>
    </test>
    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.shoppingTests"/>
        </classes>
    </test>
</suite>
